@font-face {
  font-family: transformers;
  src: url(Transformers.ttf);
}
.gameboard {
  width: 100% marigin: 0 auto;
}
.card {
  position: static;
  float: left;
  margin: 10px;
  height: 200px;
  width: 13%;
  background-image: url('http://i112.photobucket.com/albums/n188/matthewryan1985/Autobots-Decepticons.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
p {
  background-image:
}
h1 {
  text-align: center;
  font-family: transformers;
  color: red;
}
html {
  background-image: url('http://i.ytimg.com/vi/5FFosezaW-Q/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.card img {
  width: 100%;
}
#playButton {
  bottom: auto;
  width: 20%;
  font-family: transformers;
  background-color: red;
  color: blue;
  font-size: 50px;
  top: -50px;
}
.timer {

  font-family: transformers;
  background-color: black;;
  color: purple;
  font-size: 20px;
  position: absolute;
  left: 270px;
  bottom: 10px;
}
